{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}" >
<div class="password-container"></div>
      <h1>Olvidé mi Contraseña</h1>
      <p>Por favor, ingresa tu correo electrónico registrado para recibir un enlace de restablecimiento.</p>
      <div class="form-group">
      <!--Enviar esta acción a la url de forgot_password de views.py--> 
      <form action="{% url 'forgot_password' %}" method="POST" id="ForgotPasswordForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="correo">Correo electrónico: </label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo registrado " required>
          </div>

          {{ form.as_p }}  <!-- Muestra el formulario -->
          <button type="submit" class="login-button"> Enviar enlace de restablecimiento </button>
      </form>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("forgotPasswordForm").addEventListener("submit", function(event) {
                var email = document.getElementById("correo").value;
                console.log("Correo electrónico ingresado: " + email);  // Imprime en la consola el correo ingresado
            });
        });
    </script>
</div>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

{% endblock %}
